// Основные цвета
$primary-color: #6cac48; // Мягкий зеленый (акцентный цвет)
$secondary-color: #e2e2e2; // Мягкий серый (фоновый цвет)
$text-color: #333333; // Темный цвет для основного текста
$text-light-color: #aaaaaa; // Мягкий серый для второстепенного текста
$text-dark-color: #1a1a1a; // Очень темный цвет для заголовков


// Цвета для кнопок
$button-primary-bg: #b7dba2;; // Фон основной кнопки
$button-primary-text: #1a1a1a; // Текст основной кнопки
$button-secondary-bg: #e0e0e0; // Фон второстепенной кнопки
$button-secondary-text: #ffffff; // Текст второстепенной кнопки
$button-disabled-bg: #e2e2e2; // Фон неактивной кнопки
$button-disabled-text: #999999; // Текст неактивной кнопки

// Цвета для инпутов
$input-border-color: #cccccc; // Цвет границы инпута
$input-focus-border-color: #aaaaaa; // Цвет границы при фокусе
$input-placeholder-color: #999999; // Цвет плейсхолдера
$input-bg-color: #ffffff; // Фон инпута
$input-text-color: #1a1a1a; // Цвет текста в инпуте
$input-error-text: #2196f3; // Цвет информации
